
<!--
    A div #top irá manter os componentes do topo da página, e será dividida em três colunas.
    A div #list terá a tabela de listagem dos itens do CRUD (que devem vir de um banco de dados, 
    por exemplo). E a div #bottom terá a paginação da listagem, que facilita a visualização quando 
    o cadastro já tiver muitos itens.

    Todas essas novas divs têm a classe row, para garantir que irão ficar uma abaixo da outra.
-->
<div class="card text-white bg-secondary mb-3" >
  <div class="card-header">Usuários</div>  
</div>

<div id="main" class="container-fluid">
    <div id="top" >                    
      <mat-form-field class="espacoCampoPesquisa"> 
        <mat-label>Pequisar por</mat-label>
        <mat-select placeholder="Pequisar por" [formControl]="pesquisaControl">
            <mat-option *ngFor="let campo of camposPesquisa"
                        [value]="campo.nome"
                        (click)="setaCampoPesquisar(campo.nome)">{{campo.descricao}}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field id="pesquisaPorCampo" class="informcaoPesquisa">
        <mat-label>Informação</mat-label>
        <input #inputPesquisa matInput 
               placeholder="digite a informação"
               [(ngModel)]="informacaoPesquisar">              
      </mat-form-field>

      <button type="button" class="btn btn-warning btn-space"
              (click)="pesquisar()">        
        <i class="fa fa-search fa-fw"></i> 
        Buscar
      </button>
      <button routerLink="/usuarioCRUD/Novo" class="btn btn-dark btn-space" type="submit"  >                        
        <i class="fa fa-user fa-fw"></i> 
        Novo usuário
      </button>
      <div *ngIf="showErroInfoPesquisar" class="alert alert-danger">{{mesageErroPesquisa}}</div>
    </div> <!-- /#top -->

    <!--Visualização dos registros cadastrados-->
    <div class="mat-elevation-z8">
        <table mat-table class="full-width-table" matSort aria-label="Elements">

   
         <!-- primeiroNome Column-->
          <ng-container matColumnDef="primeiroNome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
            <td mat-cell *matCellDef="let row">{{row.primeiroNome}}</td>
          </ng-container>
         
  
      
          <!-- sobreNome Column -->
          <ng-container matColumnDef="sobreNome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sobrenome</th>
            <td mat-cell *matCellDef="let row">{{row.sobreNome}}</td>
          </ng-container>
        
          <!-- funcao Column -->
          <ng-container matColumnDef="funcao">
             <th mat-header-cell *matHeaderCellDef mat-sort-header>Função</th>
             <td mat-cell *matCellDef="let row">{{row.funcao}}</td>
          </ng-container>

          <!-- dataNascimento Column -->
          <ng-container matColumnDef="dataNascimento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dt. nascimento</th>
            <td mat-cell *matCellDef="let row">{{row.dataNascimento | date:"dd/MM/yyyy"}}</td>
          </ng-container>

          <!-- usuario Column -->
          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuário</th>
            <td mat-cell *matCellDef="let row">{{row.usuario}}</td>
          </ng-container>

           <!-- inativo Column -->
           <ng-container matColumnDef="inativo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Inativo</th>
            <td mat-cell *matCellDef="let row">{{true == row.inativo ? 'Sim' : 'Não'}}</td>
          </ng-container>
          
          <!-- Ações  -->
          <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef >Ações</th>
              <td mat-cell *matCellDef="let row">  
                  <button mat-raised-button #tooltip="matTooltip"
                          matTooltip="Editar registro"
                          matTooltipPosition="above"
                          matTooltipHideDelay="100"
                          type="button" 
                          class="btn btn-light btn-xs" 
                          routerLink="/usuarioCRUD/{{row.id}}">
                          <i class="fa fa-id-card"></i>
                  </button>                  
                  <button mat-raised-button #tooltip="matTooltip"
                          matTooltip="Excluir registro"
                          matTooltipPosition="above"
                          matTooltipHideDelay="100"
                          type="button" 
                          class="btn btn-light btn-xs" 
                          (click)="confirmaExclusao(template, row)">
                          <i class="fa fa-trash"></i>
                  </button>
                
              </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator #paginator
            [length]="dataSource?.data.length"
            [pageIndex]="0"
            [pageSize]="50"
            [pageSizeOptions]="[5, 10, 50]">
        </mat-paginator>
      </div>   
</div>  <!-- /#main -->

<!-- Modal --> 
<ng-template #template>

  <div class="modal-content">
        <div class="card bg-danger text-white">
            <div class="card-body">Confirma a exclusão do registro?</div>
        </div>
        <div class="modal-body">{{messageConfirmacaoExclusao}} </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="confirm()">Sim</button>
            <button type="button" class="btn btn-default" (click)="decline()">N&atilde;o</button>
        </div>
  </div>    
</ng-template>
