table {
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    overflow: hidden;
    width: 150px;
    text-overflow: Ellipsis;
    white-space: nowrap;
  }

.mat-column-inativo {
    flex: 0 0 100px;
    width: 50px;    
}

.mat-column-usuario {
    flex: 0 0 100px;
    width: 200px;    
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-form-field{
  padding-right: 10px;
}

.btn-space {
  margin-right: 5px;
}
.informcaoPesquisa{
  width:400px   ;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}