<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a routerLink="/" class="navbar-brand" href="#">
        <a href="/" class="navbar-brand d-none d-lg-block espaco"  >
            <span class="badge badge-warning">Bem-vindo! toCHECKLIST</span>
        </a>
    </a>
    <button type="button" class="btn btn-outline-secondary espaco" (click) = "show()">Entrar</button>    
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
    <a class="nav-link" href="home">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="about">Sobre</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="contact">Contato</a>
    </li>
    </ul>
</nav>

  